@tailwind base;
@tailwind components;
@tailwind utilities;

.list-image {
    background-image: url('./assets/checkmark.jpg'); /* Make sure this path is correct */
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 20px; /* Adjust padding for the background image */
  }