@tailwind base;
@tailwind components;
@tailwind utilities;

.list-image {
    background-image: url('./assets/checkmark.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 20px; 
  }